---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Content from "../content/index/index.md";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE + " | Portfolio"}
      description={SITE_DESCRIPTION}
    />
    <style>
      .cta-text {
        display: flex;
        text-align: center;
        font-size: 4em;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
      }

      .port-cont {
        /* padding-left: 5em;
        padding-right: 5em; */
        max-width: calc(100vw - 30%);
        margin-bottom: 2em;
      }

      .markdown-content {h5 {
        background-color: #f4e32b;
        width: fit-content;
        padding: 0.25em;
      }}

      /* Added the highlight container and animation */
      .highlight-container {
        display: inline-block;
        overflow: hidden;
        position: relative;
      }

      #heres-some-quick-links, #heres-my-primary-tech-stack, #heres-some-of-my-work-experience {
        background-color: #f4e32b;
        width: fit-content;
        padding: 0.25em;
        position: relative;
        overflow: hidden;
      }
      /* Added the highlight animation */
      /* Updated keyframes for highlight animation */
      @keyframes highlight {
        0% {
          transform: scaleX(0);
          transform-origin: left;
        }
        25% {
          transform: scaleX(1);
          transform-origin: left;
        }
        75% {
          transform: scaleX(1);
          transform-origin: right;
        }
        100% {
          transform: scaleX(0);
          transform-origin: right;
        }
      }

      @keyframes highlight-fin {
        0% {
          transform: scaleX(0);
          transform-origin: left;
        }
        50% {
          transform: scaleX(1);
          transform-origin: left;
        }
        100% {
          transform: scaleX(1);
          transform-origin: right;
        }
      }

      /* Applied the highlight animation to .highlight */
      .highlight {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #f4e32b; /* Change the color as needed */
        animation: highlight 1.25s ease-out forwards; /* Change the animation duration as needed */
      }

      .highlight-fin {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #f4e32b; /* Change the color as needed */
        animation: highlight 1.25s ease-out forwards; /* Change the animation duration as needed */
      }

      /* Styled .highlight-text */
      .highlight-text {
        position: relative;
        z-index: 1;
      }

      @media only screen and (max-width: 1170px) {
        .cta-text {
          flex-direction: column;
          font-size: 2em;
        }

        .port-cont {
          padding: 1em;
        }

        main {
          max-width: calc(100% - 0em);
        }

        p {
          font-size: 0.9em;
        }
      }

      @media only screen and (max-width: 400px) {
        main {
          margin: auto;
          min-width: calc(100vw - 15%);
        }
        .port-cont {
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="port-cont">
      <h1 class="neue cta-text">
        HELLO, I'M <span class="highlight-container">
          <span class="highlight"></span><span class="highlight-text"
            >GAURANG!</span
          >
        </span>
      </h1>
      <div class="markdown-content">
        <Content />
      </div>
      <Footer />
    </main>
  </body>
</html>
