---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE + " | Linktree"} description={SITE_DESCRIPTION} />
		<style>
			.links {
				display: flex;
				flex-direction: column;
				list-style: none;
				justify-content: center;
				align-items: center;
				font-size: 2em;
				opacity: 0; /* Initially hidden */
				transform: translateY(-60px); /* Move up initially */
				transition: opacity 1.2s, transform 1.2s;
				padding: 0;
			}

			.links a {
				text-decoration: none;
				font-family: 'Neue', sans-serif;
				font-weight: 500;
			}

			.links a:hover {
				text-decoration: underline;
				text-decoration-color: #F4E32B;
			}

			.list {
				border: none;
				padding: 0;
			}

			.links.show {
				opacity: 1; /* Show */
				transform: translateY(0); /* Move to original position */
			}
		</style>
	</head>
	<body>
		<Header />
		<main class="list">
			<ul class="links" id="links">
				<li><a href="/">Portfolio</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="https://drive.google.com/drive/folders/192IUKS2oXz8MSwG3qu4JQz4qALNblpy_?usp=drive_link" target="_blank">Resume</a></li>
				<li><a href="https://www.linkedin.com/in/gaurangratnaparkhi/" target="_blank">LinkedIn</a></li>
				<li><a href="https://www.github.com/gnaaruag" target="_blank">Github</a></li>
				<li><a href="https://www.x.com/gnaaruag" target="_blank">Twitter</a></li>
				<li><a href="https://www.instagram.com/vertigo.poetry/n" target="_blank">Art page</a></li>
				<li><a href="https://open.spotify.com/user/hsuvigd2roe6p5xs8fby9rf1a?si=9aea1ea37dba40b3&nd=1&dlsi=37688e6b53574feb">Spotify</a></li>
			</ul>
		</main>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				const links = document.getElementById('links');
				links?.classList.add('show');
			});
		</script>
	</body>
</html>
